---
layout: default
---

<div class="row">
    <div class="col-lg-3" style="font-size: 1rem; padding-top: 1rem">
        <table class="table table-borderless table-sm">
            <tbody>
                <tr>
                    <td style="text-align: center;" colspan="2">
                        <div class="rounded-circle" style="height: 200px; width: 200px; overflow: hidden; margin-bottom: 1rem"> 
                            <img src="/assets/img{{page.permalink}}.jpg" data-action="zoom">
                        </div>
                    </td>
                </tr>
                {% if page.office %}
                <tr>
                  <td><i class="fas fa-building"></i></td>
                  <td>{{page.office}}</td>
                </tr>
                {% endif %}

                {% if page.eml %}
                <tr>
                  <td><i class="fas fa-envelope"></i></td>
                  <td><a href="mailto:{{page.eml}}">{{page.eml}}</a></td>
                </tr>
                {% endif %}

                <tr>
                  <td colspan="2">
                    {% if page.website %}
                        <a href="{{page.website}}"><i class="fas fa-globe"></i></a>
                    {% endif %}

                    {% if page.google_scholar %}
                        <a href="{{page.google_scholar}}"><i class="fas fa-graduation-cap"></i></a>
                    {% endif %}

                    {% if page.github %}
                        <a href="{{page.github}}"><i class="fab fa-github"></i></a>
                    {% endif %}

                    {% if page.twitter %}
                        <a href="{{page.twitter}}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                  </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-9">
        <h3>{{page.pname}}</h3>
        <p>{{page.desp}}</p>
    </div>
</div>

<hr>

{{content}}
